<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Scan medicine using your camera and get the corresponding prescription and other relevant information">
    <title>Medicine Scanner</title>

<!--    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <!-- tesseract.js v2 -->
    <script src='https://unpkg.com/tesseract.js@v2.1.0/dist/tesseract.min.js' defer></script>

    <!-- jquery -->
    <script type="module" src="/js/jquery-3.4.1.min.js"></script>

    <!--    Socket io-->
    <script src="/socket.io/socket.io.js"></script>

    <script type="module" src="/js/script.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>