<%- include ("./partials/head.ejs") %>

<div id="camera-container" class="centered">
    <video autoplay id="user-camera" class="hideCameraCanvas"></video>
    <div id="camera-controls-container">
        <button id="enable-camera-button" class="button">Enable camera</button>
        <button id="disable-camera-button" class="button hidden">Disable camera</button>
        <div id="switch-wrapper">
            <label class="switch">
                <input id="disable-automatic-camera" type="checkbox">
                <span class="slider"></span>
            </label>
            <label id="disable-automatic-camera-label" for="disable-automatic-camera">
                Turn camera on automatically
            </label>
        </div>
    </div>
    <button class="button">Search medicine manually</button>
    <button class="button">See all medicine</button>


</div>

<%- include ("./partials/footer.ejs") %>