<%- include ("./partials/head.ejs") %>

<div id="camera-container" class="centered">
    <video autoplay id="user-camera" class="hideCameraCanvas"></video>
    <div id="camera-controls-container">
        <button id="enable-camera-button" class="input">Enable camera</button>
        <button id="disable-camera-button" class="input hidden">Disable camera</button>
        <div id="switch-wrapper">
            <label class="switch">
                <input id="disable-automatic-camera" type="checkbox">
                <span class="slider"></span>
            </label>
            <label id="disable-automatic-camera-label" for="disable-automatic-camera">
                Turn camera on automatically
            </label>
        </div>
        <div id="scan-result-container">
        </div>

    </div>
    <!-- Divder-->
    <hr class="rounded">

    <div class="extra-options-container">
        <div>
            <input type="text" placeholder="Search medicine..."/>
            <button type="submit" id="search-button">
                <img alt="Search" class="search-icon" src="/img/icons/search-24px.svg">
            </button>
        </div>
        <button class="input">See all medicine</button>
    </div>

    <div class="result-container hidden">
        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>

        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>

        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>

        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>

        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>


        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>


        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>


        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>


        <div class="medicine-item">
            <p class="medicine-name">18F-FDG Hoboken 250 MBq/ml, oplossing voor injectie</p>
            <div class="medicine-registration-number-container">
                <img alt="Registration number" src="/img/icons/assignment-24px.svg">
                <p class="medicine-registration-number">RVG 121312</p>
            </div>
            <div class="medicine-active-ingredient-container">
                <img alt="Active ingrediënt" src="/img/icons/scatter_plot-24px.svg">
                <p class="medicine-active-ingredient">V09IX04 - Fludeoxyglucose [18 F]</p>
            </div>
        </div>

    </div>

</div>

<%- include ("./partials/footer.ejs") %>