<%- include ("./partials/head.ejs") %>

<div id="camera-container" class="centered">
    <video autoplay id="user-camera" class="hideCameraCanvas"></video>
    <div id="camera-controls-container">
        <button id="enable-camera-button" class="input" disabled>Enable camera</button>
        <button id="disable-camera-button" class="input hidden">Disable camera</button>
        <button id="switch-camera" class="hidden">
            <img alt="Search" class="search-icon" src="/img/icons/switch_video-24px.svg">
        </button>
<!--        <div id="switch-wrapper">-->
<!--            <label class="switch">-->
<!--                <input id="disable-automatic-camera" type="checkbox">-->
<!--                <span class="slider"></span>-->
<!--            </label>-->
<!--            <label id="disable-automatic-camera-label" for="disable-automatic-camera">-->
<!--                Turn camera on automatically-->
<!--            </label>-->
<!--        </div>-->

    </div>
    <!-- Divder-->
    <hr class="rounded">

    <div class="extra-options-container">
        <div class="search-wrapper">
            <input id="search-medicine" type="text" placeholder="Search medicine..."/>
            <button type="submit" id="search-button">
                <img alt="Search" class="search-icon" src="/img/icons/search-24px.svg">
            </button>
        </div>
    </div>

    <div id="scan-result-container" class="hidden">
    </div>

</div>

<%- include ("./partials/footer.ejs") %>